<!DOCTYPE html>
<html>
<head></head>
<body>

  <form method="POST" action="/teams">
    <h1>Create a Team and Heroes!</h1>
    <p>Team Name: <input type="text" name="params[team][name]"></p>
    <p>Team Motto: <input type="text" name="params[team][motto]"></p>
    <input type="submit" name="Submit">
  </form>

</body>



</html>
